{
	"semi": false,
	"useTabs": true,
	"tabWidth": 3,
	"trailingComma": "none",
	"jsxSingleQuote": true,
	"singleQuote": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"singleAttributePerLine": true
}
